.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hamburger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger-menu span {
    height: 2px;
    width: 25px;
    background: #DADDE0;
    margin-bottom: 5px;
    border-radius: 5px;
}

.nav-list {
    list-style-type: none;
    display: flex;
}

.nav-list li a {
    text-decoration: none;
    color: black;
    padding: 10px;
    display: block;
}

/* Responsive */
@media (max-width: 768px) {
    .hamburger-menu {
        display: flex;
    }

    .nav-list {
        position: absolute;
        top: 60px;
        left: -100%;
        flex-direction: column;
        background-color: #ffffff;
        width: 100%;
        border-top: 2px solid black;
        transition: 0.3s;
    }

    .nav-list.active {
        left: 0;
    }

    .aside-about{
        display: none;
    }
}